            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }
            
            a {
                text-decoration: none;
            }

            body{
                width: 100%;
                height:100%;
            }

            header{width: 100%;}
            
            nav {
                background-color: #f55145;
            }
            
            .logo {
                font-weight: 700;
                color: #fff;
                text-transform: uppercase;
            }
            
            .btn-body {
                background-color: #f55145;
                color: #fff;
            }
            
            .btn-body:hover {
                background-color: #e94236;
                color: rgb(250, 242, 242);
                transition: 0.75s;
            }
            
            .btn-footer {
                background-color: #fff;
                color: #f55145;
            }
            
            .btn-footer:hover {
                background-color: #cc473d;
                color: #fff;
                transition: 0.75s;
            }
            
            .social-icon {
                background-color: #f55145;
                color: #fff;
                font-size: 30px;
            }
            
            .social-icon:hover {
                background-color: #e94236;
                color: rgb(250, 242, 242);
                transition: 0.75s;
            }
            
            #home {
                background-color: #f55145;
                color: #fff;
                width: 100%;
            }
            /* caixa home */
            
            .caixa {
                padding: 60px 0;
                border: solid 1px #e5e5e5;
            }
            /* caixa contatos */
            
            .caixa2 {
                background-color: #f55145;
                height: 170px;
            }
            
            .contatos-title {
                color: #fff;
                font-weight: 600;
                padding-top: 1%;
            }
            
            .contato-btn {
                margin-left: 30%;
                margin-top: 5%;
                background-color: #fff;
                color: #f55145;
                outline: none;
                font-size: 18px;
                height: 32px;
                width: 210px;
                border: none;
                border-radius: 5px;
                cursor: pointer;
            }
            
            .contato-btn:hover {
                background-color: #e5e5e5;
                transition: 0.50s;
            }
            /* Caixa recursos */
            
            .caixa3 {
                padding: 60px 0;
            }
            
            .equipe {
                background-color: #f55145;
            }
            /* Footer */
            
            footer {
                background-color: #f55145;
                height: 70px;
                width: 100%;
            }
            /* Modal */
            
            .modal-contents {
                background-color: #f55145;
            }
            
            .modal-title {
                font-weight: 500;
                padding-left: 20%;
            }

            .modal-title-footer{
                font-weight: 500;
                padding-left: 22%;
            }
            
            .modal-text {
                font-weight: 600;
                font-size: 17px;
                color: #fff;
            }
            
            .modal-img {
                border-radius: 7px;
            }
            
            .modal-icon {
                font-size: 27px;
                margin-right: 2%;
                color: #fff;
            }
            
            .modal-icon:hover {
                color: #e5e5e5;
            }
            
            .btn-modal {
                background-color: #fff;
                color: #f55145;
            }
            
            .btn-modal:hover {
                background-color: #e5e5e5;
                transition: 0.50s;
            }

            @media(min-width: 320px) and (max-width:374px) {
                .logo {
                    font-weight: 700;
                    font-size: 20px;
                    color: #fff;
                    text-transform: uppercase;
                    width: 80%;
                }
         
                .title{font-size: 28px;}

                .text, .text2{
                    font-size: 18px;
                    width: 75%;
                }

                .title2{font-size: 22px;}
                
                .titlePedido{
                    font-size: 22px; 
                    width: 90%;
                }
            }
            
            @media(min-width:375px) and (max-width:425px) {
                .title{font-size: 32px;}
                .title2{font-size: 26px;}
            }

            @media (max-width: 575.98px) {
                .modal-title-footer{
                    display: none;
                }
            }
            @media (min-width: 576px) and (max-width: 767.98px) {
                .modal-title-footer{
                    display: none;
                }
            }

            @media(max-width:1680px){
                footer {
                    background-color: #f55145;
                    height: 100%;
                }
            }